In [1]:
import pandas as pd

In [21]:
file_name ="oneway_fast_20250127-151257.csv"
df_raw =pd.read_csv(f"/app/yolo_structure/results/{file_name}")
df_raw

             datetime  distance    event detected source_name  frame_hash
0     20250127-151257         0   PERSON   person  oneway.mp4           1
1     20250127-151257         0   PERSON   person  oneway.mp4           1
2     20250127-151257         0   PERSON   person  oneway.mp4           1
3     20250127-151257         0   PERSON   person  oneway.mp4           1
4     20250127-151258         0     STOP      car  oneway.mp4           2
...               ...       ...      ...      ...         ...         ...
3704  20250127-151353         0  REVERSE      car  oneway.mp4         424
3705  20250127-151353         0   PERSON   person  oneway.mp4         424
3706  20250127-151353         0  REVERSE      car  oneway.mp4         424
3707  20250127-151353         0     STOP      car  oneway.mp4         424
3708  20250127-151353         0     STOP      bus  oneway.mp4         424

[3709 rows x 6 columns]

In [22]:
df_raw.detected.unique()

array(['person', 'car', 'bicycle', 'motorcycle', 'bus', 'truck'],
      dtype=object)

In [23]:
df_raw.event.unique()

array(['PERSON', 'STOP', 'REVERSE'], dtype=object)

In [15]:
df_raw.frame_hash.nunique()

611

In [24]:
# 조건: PERSON이 frame_hash 기준으로 5회 연속 등장하는 경우
result = (
    df_raw[df_raw["detected"] == "person"]  # PERSON만 필터링
    .groupby("frame_hash")  # frame_hash 기준 그룹화
    .filter(lambda x: len(x) >= 5)  # 5회 이상 연속 발견된 그룹 필터링
)

# 결과 출력
print(result)
result

           datetime  distance   event detected source_name  frame_hash
6   20250127-151258         0  PERSON   person  oneway.mp4           2
7   20250127-151258         0  PERSON   person  oneway.mp4           2
8   20250127-151258         0  PERSON   person  oneway.mp4           2
9   20250127-151258         0  PERSON   person  oneway.mp4           2
11  20250127-151258         0  PERSON   person  oneway.mp4           2
14  20250127-151258         0  PERSON   person  oneway.mp4           3
15  20250127-151258         0  PERSON   person  oneway.mp4           3
17  20250127-151258         0  PERSON   person  oneway.mp4           3
18  20250127-151258         0  PERSON   person  oneway.mp4           3
19  20250127-151258         0  PERSON   person  oneway.mp4           3

           datetime  distance   event detected source_name  frame_hash
6   20250127-151258         0  PERSON   person  oneway.mp4           2
7   20250127-151258         0  PERSON   person  oneway.mp4           2
8   20250127-151258         0  PERSON   person  oneway.mp4           2
9   20250127-151258         0  PERSON   person  oneway.mp4           2
11  20250127-151258         0  PERSON   person  oneway.mp4           2
14  20250127-151258         0  PERSON   person  oneway.mp4           3
15  20250127-151258         0  PERSON   person  oneway.mp4           3
17  20250127-151258         0  PERSON   person  oneway.mp4           3
18  20250127-151258         0  PERSON   person  oneway.mp4           3
19  20250127-151258         0  PERSON   person  oneway.mp4           3

In [25]:
# 조건: PERSON이 frame_hash 기준으로 5회 연속 등장하는 경우
result = (
    df_raw[df_raw["event"] == "STOP"]  # PERSON만 필터링
    .groupby("frame_hash")  # frame_hash 기준 그룹화
    .filter(lambda x: len(x) >= 3)  # 5회 이상 연속 발견된 그룹 필터링
)

# 결과 출력
print(result)
result

             datetime  distance event detected source_name  frame_hash
4     20250127-151258         0  STOP      car  oneway.mp4           2
5     20250127-151258         0  STOP      car  oneway.mp4           2
10    20250127-151258         0  STOP      car  oneway.mp4           2
12    20250127-151258         0  STOP      car  oneway.mp4           3
13    20250127-151258         0  STOP      car  oneway.mp4           3
...               ...       ...   ...      ...         ...         ...
3700  20250127-151353         0  STOP      bus  oneway.mp4         424
3701  20250127-151353         0  STOP      car  oneway.mp4         424
3702  20250127-151353         0  STOP      car  oneway.mp4         424
3707  20250127-151353         0  STOP      car  oneway.mp4         424
3708  20250127-151353         0  STOP      bus  oneway.mp4         424

[1955 rows x 6 columns]

             datetime  distance event detected source_name  frame_hash
4     20250127-151258         0  STOP      car  oneway.mp4           2
5     20250127-151258         0  STOP      car  oneway.mp4           2
10    20250127-151258         0  STOP      car  oneway.mp4           2
12    20250127-151258         0  STOP      car  oneway.mp4           3
13    20250127-151258         0  STOP      car  oneway.mp4           3
...               ...       ...   ...      ...         ...         ...
3700  20250127-151353         0  STOP      bus  oneway.mp4         424
3701  20250127-151353         0  STOP      car  oneway.mp4         424
3702  20250127-151353         0  STOP      car  oneway.mp4         424
3707  20250127-151353         0  STOP      car  oneway.mp4         424
3708  20250127-151353         0  STOP      bus  oneway.mp4         424

[1955 rows x 6 columns]

In [19]:
# 조건: PERSON이 frame_hash 기준으로 5회 연속 등장하는 경우
result = (
    df_raw[df_raw["event"] == "REVERSE"]  # PERSON만 필터링
    .groupby("frame_hash")  # frame_hash 기준 그룹화
    .filter(lambda x: len(x) >= 5)  # 5회 이상 연속 발견된 그룹 필터링
)

# 결과 출력
print(result)
result

             datetime  distance    event detected source_name  frame_hash
122   20250127-151009         0  REVERSE      car  oneway.mp4          17
123   20250127-151009         0  REVERSE      car  oneway.mp4          17
125   20250127-151009         0  REVERSE  bicycle  oneway.mp4          17
129   20250127-151009         0  REVERSE      car  oneway.mp4          17
130   20250127-151009         0  REVERSE      car  oneway.mp4          17
...               ...       ...      ...      ...         ...         ...
5264  20250127-151032         0  REVERSE      bus  oneway.mp4         606
5265  20250127-151032         0  REVERSE      bus  oneway.mp4         606
5266  20250127-151032         0  REVERSE      car  oneway.mp4         606
5269  20250127-151032         0  REVERSE      car  oneway.mp4         606
5270  20250127-151032         0  REVERSE      car  oneway.mp4         606

[867 rows x 6 columns]

             datetime  distance    event detected source_name  frame_hash
122   20250127-151009         0  REVERSE      car  oneway.mp4          17
123   20250127-151009         0  REVERSE      car  oneway.mp4          17
125   20250127-151009         0  REVERSE  bicycle  oneway.mp4          17
129   20250127-151009         0  REVERSE      car  oneway.mp4          17
130   20250127-151009         0  REVERSE      car  oneway.mp4          17
...               ...       ...      ...      ...         ...         ...
5264  20250127-151032         0  REVERSE      bus  oneway.mp4         606
5265  20250127-151032         0  REVERSE      bus  oneway.mp4         606
5266  20250127-151032         0  REVERSE      car  oneway.mp4         606
5269  20250127-151032         0  REVERSE      car  oneway.mp4         606
5270  20250127-151032         0  REVERSE      car  oneway.mp4         606

[867 rows x 6 columns]