In [9]:
import pandas as pd

In [33]:
df_raw =pd.read_csv("/app/yolo_structure/results/fewers_fast_20250127-150032.csv")
df_raw

             datetime  distance    event detected source_name  frame_hash
0     20250127-150033         0     STOP      car  fewers.mp4           2
1     20250127-150033         0     STOP      car  fewers.mp4           2
2     20250127-150033         0     STOP      car  fewers.mp4           3
3     20250127-150033         0     STOP      car  fewers.mp4           3
4     20250127-150033         0   PERSON   person  fewers.mp4           3
...               ...       ...      ...      ...         ...         ...
1317  20250127-150126         0     STOP      car  fewers.mp4         569
1318  20250127-150126         0  REVERSE      car  fewers.mp4         569
1319  20250127-150126         0     STOP      car  fewers.mp4         570
1320  20250127-150126         0     STOP      car  fewers.mp4         571
1321  20250127-150126         0     STOP      car  fewers.mp4         571

[1322 rows x 6 columns]

In [34]:
df_raw.event.unique()

array(['STOP', 'PERSON', 'REVERSE'], dtype=object)

In [35]:
df_raw.frame_hash.nunique()

564

In [36]:
# 조건: PERSON이 frame_hash 기준으로 5회 연속 등장하는 경우
result = (
    df_raw[df_raw["detected"] == "person"]  # PERSON만 필터링
    .groupby("frame_hash")  # frame_hash 기준 그룹화
    .filter(lambda x: len(x) >= 5)  # 5회 이상 연속 발견된 그룹 필터링
)

# 결과 출력
print(result)
result

Empty DataFrame
Columns: [datetime, distance, event, detected, source_name, frame_hash]
Index: []

Empty DataFrame
Columns: [datetime, distance, event, detected, source_name, frame_hash]
Index: []

In [46]:
# 조건: PERSON이 frame_hash 기준으로 5회 연속 등장하는 경우
result = (
    df_raw[df_raw["event"] == "STOP"]  # PERSON만 필터링
    .groupby("frame_hash")  # frame_hash 기준 그룹화
    .filter(lambda x: len(x) >= 5)  # 5회 이상 연속 발견된 그룹 필터링
)

# 결과 출력
print(result)
result

             datetime  distance event detected source_name  frame_hash
0     20250127-150033         0  STOP      car  fewers.mp4           2
1     20250127-150033         0  STOP      car  fewers.mp4           2
2     20250127-150033         0  STOP      car  fewers.mp4           3
3     20250127-150033         0  STOP      car  fewers.mp4           3
5     20250127-150033         0  STOP      car  fewers.mp4           4
...               ...       ...   ...      ...         ...         ...
1313  20250127-150126         0  STOP      car  fewers.mp4         567
1314  20250127-150126         0  STOP      car  fewers.mp4         568
1315  20250127-150126         0  STOP      car  fewers.mp4         568
1320  20250127-150126         0  STOP      car  fewers.mp4         571
1321  20250127-150126         0  STOP      car  fewers.mp4         571

[598 rows x 6 columns]

             datetime  distance event detected source_name  frame_hash
0     20250127-150033         0  STOP      car  fewers.mp4           2
1     20250127-150033         0  STOP      car  fewers.mp4           2
2     20250127-150033         0  STOP      car  fewers.mp4           3
3     20250127-150033         0  STOP      car  fewers.mp4           3
5     20250127-150033         0  STOP      car  fewers.mp4           4
...               ...       ...   ...      ...         ...         ...
1313  20250127-150126         0  STOP      car  fewers.mp4         567
1314  20250127-150126         0  STOP      car  fewers.mp4         568
1315  20250127-150126         0  STOP      car  fewers.mp4         568
1320  20250127-150126         0  STOP      car  fewers.mp4         571
1321  20250127-150126         0  STOP      car  fewers.mp4         571

[598 rows x 6 columns]

In [38]:
# 조건: PERSON이 frame_hash 기준으로 5회 연속 등장하는 경우
result = (
    df_raw[df_raw["event"] == "REVERSE"]  # PERSON만 필터링
    .groupby("frame_hash")  # frame_hash 기준 그룹화
    .filter(lambda x: len(x) >= 5)  # 5회 이상 연속 발견된 그룹 필터링
)

# 결과 출력
print(result)
result

Empty DataFrame
Columns: [datetime, distance, event, detected, source_name, frame_hash]
Index: []

Empty DataFrame
Columns: [datetime, distance, event, detected, source_name, frame_hash]
Index: []